[submodule "libs/constructive"]
	path = libs/constructive
	url = https://github.com/solidboredom/constructive/
[submodule "libs/dovetail"]
	path = libs/dovetail
	url = https://github.com/hugokernel/OpenSCAD_Dovetail
[submodule "libs/BOSL"]
	path = libs/BOSL
	url = https://github.com/revarbat/BOSL
